@model IList<PublicationViewModel>
@{
    ViewBag.Title = "Index";
    ViewBag.Page = "Publication";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <div class="form-group">
                <a href="/Publication/Create" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i> Create New</a>
            </div>
            <table id="example1" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Title </th>
                        @*<th>Publication Type</th>*@
                        <th>Link </th>
                        <th class="noExport">Image File</th>

                        <th class="noExport">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @{ int i = 0; }
                    @foreach (var item in Model.ToList())
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.Title</td>
                            @*<td>@item.PublicationType.Title</td>*@
                            <td>@item.DocumentLink</td>
                            <td>
                                @if (item.FilePath != null && !string.IsNullOrEmpty(item.FilePath))
                                {
                                    <a href="@GetFileAddress.Publication/@item.FilePath" target="_blank">view file</a>
                                }
                            </td>

                            <td>
                                <div class="action-buttons">
                                    <a class="green" href="/Publication/Edit/@item.Id" title="Edit Publication">
                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                    </a>

                                    <a class="red" href="/Publication/Remove/@item.Id" title="Delete Publication">
                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>