@model BlogViewModel
@{
    ViewBag.Title = "Edit";
    ViewBag.Page = "Blog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>

        <div class="col-xs-10 col-lg-10">
            <!-- PAGE CONTENT BEGINS -->
            @using (Html.BeginForm("Edit", "Blog", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form", @id = "Announcement-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(a => a.Id)

                <div class="form-group">
                    <label for="form-field-1">Enter Heading<strong style="color: red">*</strong></label>
                    @Html.TextBoxFor(a => a.Title, new { @class = "form-control", placeholder = "Enter Heading", required = "required" })
                </div>
                <div class="form-group">
                    <label>Select Blog Category<strong style="color: red">*</strong></label>
                    @Html.DropDownListFor(a => a.BlogCategoryId, new SelectList(ViewBag.BlogCategory, "Id", "Title"), new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    <label for="form-field-1">Posted By<strong style="color: red">*</strong> </label>
                    @Html.TextBoxFor(a => a.PostedBy, new { @maxlength = "90", @class = "form-control", placeholder = "Posted By", required = "required" })
                </div>
                <div class="form-group">
                    <label for="form-field-1">Excerpt<strong style="color: red">*</strong> <br /> <strong style="color: red">Short Description for  Website in 90 Characters</strong></label>
                    @Html.TextBoxFor(a => a.Excerpt, new { @maxlength = "90", @class = "form-control", placeholder = "Enter Short Description in 90 Characters", required = "required" })
                </div>

                <div class="form-group">
                    <label for="form-field-1">Enter Description<strong style="color: red">*</strong></label>
                    @Html.TextAreaFor(a => a.Description, new { @class = "form-control rich-text-area", placeholder = "Enter Description" })
                </div>
                @*<div class="form-group">
                <label for="form-field-1">Enter Youtube Link</label>
                @Html.TextBoxFor(a => a.YoutubeLink, new { @class = "form-control", placeholder = "Enter Youtube Video Embeded Link", required = "required" })
            </div>*@

                <div class="form-group">
                    <label for="form-field-1">Enter Tags<strong style="color: red">*</strong></label>
                    @Html.TextBoxFor(a => a.Tags, new { @class = "form-control", placeholder = "Enter Comma Seprated Tags Ex. Post,blog", required = "required" })
                </div>

                <div class="form-group">
                    <label for="form-field-1">Featured </label>
                    @Html.CheckBoxFor(a => a.IsFeatured)
                </div>

                <div class="form-group">
                    <label for="form-field-1">Upload an Image <br /><strong style="color:red">Image Dimentions should be  416 x 208 px , max size 512KB</strong> </label>
                    <input type="file" name="File" id="id-input-file-2" accept="image/*" />
                </div>

                <div class="space-4"></div>
                <div class="clearfix form-actions">
                    <div>
                        <button class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
                <div class="hr hr-24"></div>
            }

            <div class="hr hr-18 dotted hr-double"></div>

            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
    </div>
</div>